.arow{
    display: grid;
    grid-template-columns: repeat(1,80vw);
    justify-content: center;
    .movieComp{
        display: grid;
        align-items: center;
        p{
            width:80%;
            margin: auto;
        }
        h2{
            text-align: center;
        }
        button{
            width: 40%;
           display: grid;
           margin: auto;
           position: relative;
           top: 1em;
           border-color: #00835e;
           border-radius: 0.5em;
           
           color: #fff;
           
        }
        
        
    }
}
.btnLike{
    background-color: #00aa8a;
}
.btnLight{
    background-color: #00aa8b73;
}
h1{
    text-align: center;
    text-transform: uppercase;
}
img{
    max-width: 100%;
    height: 100%;
    margin: auto;
}
.btn_page{
    color: #fff;
    width: 4em;
    border: 1px solid #e84e1b;
    margin: 0.2em;
    border-radius: 1em;
    cursor: pointer;
}
.contentForm {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    .form {
        width: 100vw;
    }
    .contentSearch {
        display: grid;
        justify-items: center;
        .input-grup-append {
            display: inline-flex;
            position: absolute;
            left:5.3%;
            .btn-neg {
                border: 2px solid red;
                background-color: #e84e1b;
                padding: 6px;
                height: 0.7em;
                cursor: pointer;
                display: flex;
                &:hover{
                    transform: scale(1);
                }
                .fas.fa-times {
                    align-self: center;
                }
            }
        }
        .input_form {
            width: 75vw;
            border: 1px solid #e84e1b;
            padding: 0.3em;
            &:focus{
                border: 1px solid #008381ce;
            }
        }
        .input-grup {
            position: absolute;
            right: 6.2%;
           
            .btn-grup-text {
                background: #008380;
                border: none;
                width: 2em;
                height: 2em;
                cursor: pointer;
                
                &:hover{
                    transform: scale(1);
                }
            }
            
        }
    }
}
.title{
    text-align: center;
    font-size: 1.3em;
}
.routerLink{
    text-decoration: none;
    background-color: #00aa8a;
    display: inline;
    font-size: 13px;
    color: #fff;
    height: 1.4em;
    padding: 0.2em;
    border-radius: .5em;
    width: 44%;
    margin: 1em;
    &:hover{
        background-color: #0091aac9;
        border: 2px solid #008380;
    }
}
.contentBTN {
    display: grid;
    grid-template-columns: 80%;
    grid-gap: 1.1em;
}
@media screen and(min-width:400px){
    .arow{

        grid-template-columns: repeat(2,50vw);
    }
} 
@media screen and(min-width:800px){
    .routerLink{
        width: 30%;
    }
    .arow{

        grid-template-columns: repeat(3,30vw);
        grid-gap:1em;
    }
    .input-grup-append {
        left:10.3% !important;
    }
} 